*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: auto;
    margin-top: 7%;
    padding: 3px 5px 5px 5px;
    background-color: aliceblue;
    border: 0.7px solid #4db8ff;

}

input[type=text]{
    width: 100%;
    max-width: 360px;
    height: 80px;
    text-align: right;
    font-size: 49px;
    font-weight: 400;
    color : black;
    border: none;
    padding-right: 4px;
    background-color: aliceblue;
}

.row{
    width: 100%;
}

button{
    font-size: 15px;
}

.btn{
    width: 19%;
    border: none;
}

 .btn, .btn-deg, .btn-fe{
    border: none;
    padding : 10px;
    margin: 2px 0px;
}

.btn-deg, .btn-fe{
    width: 40%;
    font-weight: 900;
    background-color: aliceblue;
}

.btn-m{
    background-color: aliceblue;
}

.btn-b{
    font-weight: 900;
}
.btn-l{
    color: #999595;
    font-weight: 900;
}

.btn-trigno, .btn-func{
    width: 39%;
    border :none;

}

.btn-opr{
    font-size: medium;
}

.btn-white{
    background-color: white;
    font-weight: 900;
}

.btn-equal{
    background-color: #33adff;
}

#trigno, #func{
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
}

select option{
    background-color: white;
    color: black;
}

button:hover, #trigno:hover, #func:hover{
    background-color: #4db8ff;
    color: white;
}

.display{
   font-size: smaller;
   color: #999595;
}